@import '_variables.less';

@media (prefers-color-scheme: light) {
    body {
        background-color: @white;
    }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    body {
        background-color: @black;
    }
}

.theme-dark {
    section {
        background-color: @black;
    }

    .title {
        color: @white;
    }

    .subtitle {
        color: @medium-gray;

        a {
            color: @white;
        }
    }

    .links li a {
        background-color: @dark-gray;
        color: @white;

        &:hover {
            background-color: @green;
            color: @white;
        }
    }

    .btn-default {
        border-color: @white;
        color: @white;
    }

    .scroll {
        svg * {
            stroke: @white !important;
        }
    }
}

.theme-light {
    section {
        background-color: @white;
    }

    .title {
        color: @black;
    }

    .subtitle {
        color: @medium-gray;
        a {
            color: @black;
        }
    }

    .links li a {
        background-color: @light-gray;
        color: @dark-gray;

        &:hover {
            background-color: @green;
            color: @white;
        }
    }

    .btn-default {
        border-color: @black;
        color: @black;
    }

    .scroll {
        svg * {
            stroke: @black !important;
        }
    }
}
