@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

@bg-dark: black;
@bg-light: white;

@font: 'Roboto', sans-serif;

@font-dark: white;
@font-light: black;

@yellow: #f2cf1d;
@red: #f25764;
@green: #98b31d;
@black: #000000;
@dark-gray: #202022;
@medium-gray: #949495;
@light-gray: #f4f4f4;
@white: #ffffff;

//Define tamanhos
@min-width: 960px;
@max-width: 1300px;
@medium-width: 1500px;
@full-width: 1920px;

@desktop: ~'only screen and (min-width: @{min-width})';
@mobile: ~'only screen and (max-width: @{min-width})';
