@import '_variables.less';
@import '_utils.less';
@import '_theme.less';

@media @mobile {
    #fp-nav {
        display: none;
    }
}

.title {
    font-size: 4em;
    font-family: @font;
    margin-bottom: 20px;
    line-height: initial;

    @media @mobile {
        font-size: 2.5em;
        text-align: center;
        align-self: center;
        margin-bottom: 10px;
    }

    span {
        background-color: @green;
        padding: 0 10px;
        color: @white;
    }
}

.subtitle {
    font-size: 2em;
    font-family: @font;
    margin-bottom: 30px;

    @media @mobile {
        font-size: 1.2em;
        margin-bottom: 15px;
        text-align: center;
        align-self: center;
    }
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    @media @mobile {
        align-self: center;
    }

    li {
        &:not(:last-child) {
            margin-right: 20px;
        }

        a {
            width: 60px;
            height: 60px;
            border-radius: 100px;
            font-size: 2em;
            transition: 0.2s;
        }

        @media @mobile {
            &:not(:last-child) {
                margin-right: 10px;
            }

            margin-top: 10px;

            a {
                width: 40px;
                height: 40px;
                font-size: 1.5em;
            }
        }
    }
}

.btn-default {
    padding: 15 30;
    border-width: 3px;
    margin-top: 50;
    font-size: 20;
    font-family: @font;
    background: transparent;
    cursor: pointer;
}

.switch {
    position: absolute;
    top: 50px;
    left: 50px;
    display: inline-block;
    width: 60px;
    height: 34px;
    z-index: 100;

    @media @mobile {
        top: 1em;
        left: 1em;
    }

    input {
        opacity: 0;
        width: 0;
        height: 0;

        &:checked + .slider {
            background-color: @green;
        }

        &:checked + .slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: @light-gray;
        -webkit-transition: 0.4s;
        transition: 0.4s;
        border-radius: 34px;

        &:before {
            position: absolute;
            content: '';
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: 0.4s;
            transition: 0.4s;
            border-radius: 50%;
        }
    }
}

.langs {
    position: absolute;
    top: 50px;
    right: 50px;
    z-index: 100;

    @media @mobile {
        right: 1em;
        top: 1em;
    }

    li {
        font-size: 1em;
        font-family: @font;
        cursor: pointer;
        text-transform: uppercase;
        display: inline-block;
        padding: 10px;

        &:not(:last-child) {
            margin-right: 10px;
        }

        &:hover,
        &.active {
            background-color: @green;
        }
    }
}

main {
    height: 100%;

    section {
        width: 100%;
        height: 100%;

        @media @mobile {
            padding: 0 1em;
        }
    }
}

#work .flex-center {
    justify-content: flex-start !important;
    padding: 122px;

    @media @mobile {
        padding: 0;
        padding-top: 1em;
    }

    .items-wrapper {
        margin-top: 40px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        @media @mobile {
            margin-top: 0;
        }

        .item {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 261px;
            height: 191px;
            background-color: attr(color);
            border-radius: 6px;
            margin: 10px;
            transition: 0.2s;
            cursor: pointer;

            -webkit-box-shadow: 10px 10px 61px -23px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 10px 10px 61px -23px rgba(0, 0, 0, 0.75);
            box-shadow: 10px 10px 61px -23px rgba(0, 0, 0, 0.75);

            img {
                width: 140px;
            }

            @media @mobile {
                width: 40%;
                height: 100px;
                margin: 5px;

                img {
                    width: 60px;
                }

                &:nth-child(9),
                &:nth-child(10) {
                    display: none;
                }
            }
        }
    }
}

#contact {
    .contact-wrapper {
        display: flex;
        flex-direction: row;

        .left-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;

            @media @mobile {
                text-align: center;
            }
        }

        @media @mobile {
            flex-direction: column-reverse;
            align-items: center;
            justify-content: center;
        }
    }

    .contact-image {
        width: 308px;
        height: 308px;
        border-radius: 300px;
        margin-left: 60px;

        @media @mobile {
            margin: 0;
            width: 150px;
            height: 150px;
            margin-bottom: 40px;
        }
    }
}

// Stuff that matters.
@keyframes scroll {
    0% {
        transform: translateY(0);
    }
    30% {
        transform: translateY(100px);
    }
}

.scroll {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    width: 50px;
    height: 50px;

    svg #wheel {
        animation: scroll ease 1.5s infinite;
    }

    @media @mobile {
        display: none;
    }
}
