<!-- Doctype HTML5 -->
<!doctype html>
<html dir="ltl" lang="en">
    <head>
        <title>Matheus Cuba</title>

        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, viewport-fit=cover"
        />

        <!-- Set character encoding for the document -->
        <meta charset="utf-8">
        <!-- Meta Description -->
        <meta name="description" content="I’m a Full Stack Developer currently working as React Native Developer">

        <!-- To run web application in full-screen -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        
        <!-- Status Bar Style (see Supported Meta Tags below for available values) -->
        <!-- Has no effect unless you have the previous meta tag -->
        <meta name="apple-mobile-web-app-status-bar-style" content="black">

        <link rel="apple-touch-icon" sizes="57x57" href="/img/favicon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/img/favicon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/img/favicon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/img/favicon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/img/favicon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/img/favicon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/img/favicon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/img/favicon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/img/favicon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/img/favicon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">

        <link rel="stylesheet" href="./dist/css/plugins/reset.css" defer/>
        <link rel="stylesheet" href="./dist/css/plugins/fullpage.min.css" defer/>
        <link rel="stylesheet" href="./dist/css/main.min.css?v=1" />
        <link rel="stylesheet" href="./dist/css/animate.min.css" defer/>

        <!-- Chrome, Firefox OS and Opera -->
        <meta name="theme-color" content="#000" />
        <!-- Windows Phone -->
        <meta name="msapplication-navbutton-color" content="#000" />
        <!-- iOS Safari -->
        <meta name="apple-mobile-web-app-status-bar-style" content="#000" />
    </head>
    <body>
        <main id="wrapper" :class="theme">
            <label class="switch">
                <input
                    type="checkbox"
                    :checked="theme == 'theme-dark'"
                    @change="toggleTheme"
                />
                <span class="slider round"></span>
            </label>
            <ul class="langs">
                <li
                    v-for="lang in languages"
                    :key="lang"
                    @click="changeLang(lang)"
                >
                    {{ lang.substring(0,2) }}
                </li>
            </ul>
            <section id="home">
                <div class="flex-center">
                    <h1
                        class="title text-center animated fadeIn"
                        v-if="content"
                        v-html="content.title"
                    ></h1>
                    <h2
                        class="subtitle text-center animated fadeIn delay-1s"
                        v-if="content.subtitle"
                        v-html="content.subtitle"
                    ></h2>
                    <ul class="links animated fadeIn delay-2s">
                        <li v-if="links.github">
                            <a
                                class="flex-center"
                                :href="links.github"
                                rel="noopener"
                                target="_blank"
                            >
                                <span class="fab fa-github"></span>
                            </a>
                        </li>
                        <li v-if="links.stackoverflow">
                            <a
                                class="flex-center"
                                :href="links.stackoverflow"
                                rel="noopener"
                                target="_blank"
                            >
                                <span class="fab fa-stack-overflow"></span>
                            </a>
                        </li>
                        <li v-if="links.linkedin">
                            <a
                                class="flex-center"
                                :href="links.linkedin"
                                rel="noopener"
                                target="_blank"
                            >
                                <span class="fab fa-linkedin"></span>
                            </a>
                        </li>
                        <li v-if="links.instagram">
                            <a
                                class="flex-center"
                                :href="links.instagram"
                                rel="noopener"
                                target="_blank"
                            >
                                <span class="fab fa-instagram"></span>
                            </a>
                        </li>
                        <li v-if="links.medium">
                            <a
                                class="flex-center"
                                :href="links.medium"
                                rel="noopener"
                                target="_blank"
                            >
                                <span class="fab fa-medium-m"></span>
                            </a>
                        </li>
                        <li v-if="links.email">
                            <a
                                class="flex-center"
                                :href="links.email"
                                rel="noopener"
                                target="_blank"
                            >
                                <span class="fab fa-google"></span>
                            </a>
                        </li>
                    </ul>
                    <a href="javascript:void(0)" class="scroll">
                        <svg
                            width="30px"
                            height="100%"
                            viewBox="0 0 247 390"
                            version="1.1"
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            style="
                                fill-rule: evenodd;
                                clip-rule: evenodd;
                                stroke-linecap: round;
                                stroke-linejoin: round;
                                stroke-miterlimit: 1.5;
                            "
                        >
                            <path
                                id="wheel"
                                d="M123.359,79.775l0,72.843"
                                style="
                                    fill: none;
                                    stroke: #fff;
                                    stroke-width: 20px;
                                "
                            />
                            <path
                                id="mouse"
                                d="M236.717,123.359c0,-62.565 -50.794,-113.359 -113.358,-113.359c-62.565,0 -113.359,50.794 -113.359,113.359l0,143.237c0,62.565 50.794,113.359 113.359,113.359c62.564,0 113.358,-50.794 113.358,-113.359l0,-143.237Z"
                                style="
                                    fill: none;
                                    stroke: #fff;
                                    stroke-width: 20px;
                                "
                            />
                        </svg>
                    </a>
                </div>
            </section>
            <section id="work">
                <div class="flex-center">
                    <h1 class="title text-center" v-if="content.work">
                        {{ content.work.title }}
                    </h1>
                    <h2
                        class="subtitle text-center"
                        v-if="content.work"
                        v-html="content.work.text"
                    ></h2>
                    <div class="items-wrapper">
                        <a
                            class="item"
                            v-for="item in projects"
                            :key="item.name"
                            :color="item.color"
                            :href="item.link"
                            rel="noopener"
                            target="_blank"
                        >
                            <img :data-src="item.image" :alt="item.name" />
                        </a>
                    </div>
                </div>
            </section>
            <section id="contact">
                <div class="flex-center">
                    <div class="contact-wrapper">
                        <div class="left-content">
                            <h1
                                class="title"
                                v-if="content.contact"
                                v-html="content.contact.title"
                            ></h1>
                            <h2
                                class="subtitle"
                                v-if="content.contact"
                                v-html="content.contact.text"
                            ></h2>
                            <ul class="links animated fadeIn delay-2s">
                                <li v-if="links.github">
                                    <a
                                        class="flex-center"
                                        :href="links.github"
                                        rel="noopener"
                                        target="_blank"
                                    >
                                        <span class="fab fa-github"></span>
                                    </a>
                                </li>
                                <li v-if="links.stackoverflow">
                                    <a
                                        class="flex-center"
                                        :href="links.stackoverflow"
                                        rel="noopener"
                                        target="_blank"
                                    >
                                        <span
                                            class="fab fa-stack-overflow"
                                        ></span>
                                    </a>
                                </li>
                                <li v-if="links.linkedin">
                                    <a
                                        class="flex-center"
                                        :href="links.linkedin"
                                        rel="noopener"
                                        target="_blank"
                                    >
                                        <span class="fab fa-linkedin"></span>
                                    </a>
                                </li>
                                <li v-if="links.instagram">
                                    <a
                                        class="flex-center"
                                        :href="links.instagram"
                                        rel="noopener"
                                        target="_blank"
                                    >
                                        <span class="fab fa-instagram"></span>
                                    </a>
                                </li>
                                <li v-if="links.medium">
                                    <a
                                        class="flex-center"
                                        :href="links.medium"
                                        rel="noopener"
                                        target="_blank"
                                    >
                                        <span class="fab fa-medium-m"></span>
                                    </a>
                                </li>
                                <li v-if="links.email">
                                    <a
                                        class="flex-center"
                                        :href="links.email"
                                        rel="noopener"
                                        target="_blank"
                                    >
                                        <span class="fab fa-google"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <img
                            class="contact-image"
                            data-src="./img/profile.jpg"
                            alt="Me"
                        />
                    </div>
                </div>
            </section>
        </main>

        <script src="./dist/js/plugins/vue.min.js"></script>
        <script src="./dist/js/plugins/yaml.min.js"></script>
        <script
            defer
            src="https://use.fontawesome.com/releases/v5.7.2/js/all.js"
            integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP"
            crossorigin="anonymous"
        ></script>
        <script src="./dist/js/plugins/fullpage.min.js"></script>
        <script src="./dist/js/main.min.js?v=1"></script>
    </body>
</html>
